<h1>{{titulo}}</h1>

<div class="row">
 <div class="col-md-12">
   <form class="animated bounceIn" (ngSubmit)="crearArtista(NuevoArtistaForm)" #NuevoArtistaForm="ngForm">

     <div class="form-group">
       <label for="nombre">Nombre</label>
       <input type="text" class="form-control" id="nombre"
              required
              [(ngModel)]="nuevoArtista.nombre" name="nombre"
              #nombre="ngModel">
       <div [hidden]="nombre.valid || nombre.pristine"
            class="alert alert-danger">
         Nombre es requerido
       </div>
     </div>
     <div class="form-group">

       <label><h3>Pais de Residencia</h3></label>

       <!--<div class="animated slideInUp" [hidden]="!pais.errors">-->

       <!--<span style="font-size:40px" class="bg-primary" *ngIf="pais.errors && (pais.dirty || pais.touched)" >Ingrese un Pais minimo con 4 caracteres </span>-->

       <!--</div>-->

       <input required
              minlength="4"
              type="text"
              class="form-control"
              placeholder="Digite un pais de residencia  como: Ecuador"
              name="pais"
              [(ngModel)]="nuevoArtista.paisResidencia"
              #pais="ngModel"
              #nombreElm>

     </div>
     <div class="form-group">
       <label for="power">Estilo</label>
       <select class="form-control" id="power"
               required
               [(ngModel)]="nuevoArtista.estilo" name="power"
               #power="ngModel">
         <option *ngFor="let pow of estilos" [value]="pow">{{pow}}</option>
       </select>
       <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
         Power is required
       </div>
     </div>


     <button [disabled]="disabledButtons.NuevoArtistaFormSubmitButton||!NuevoArtistaForm.valid" type="submit"

             class="btn btn-block btn-success">Crear

     </button>


   </form>
   <h3>Para ver todos los artistas registrados <span> <button [routerLink]="['/listaArtista']" class="btn btn-link">Click Aqui</button></span> </h3>

 </div>
</div>



